.homepage_navigation{
    position: relative;
}
@media screen and (min-width: 1024px) {
    .homepage_navigation_mainBox{
        height: 5.5vw;
        display: flex;
        background-color: rgb(255,255,255);
    }
    .homepage_navigation_logoBar{
        width: 29%;
        height: 100%;
        display: flex;
    }
    .homepage_navigation_logoBar img{
        /* width: 55%; */
        width: 42%;
        height: auto;
        /* margin: auto; */
        margin-left:20% ;
    }
    .navBarIconBar{
        visibility: hidden;
        display: none;
    }
    .navBurgerIcon{
        visibility: hidden;
        color: transparent;
        display: none;
    }
    .homepage_navigation_navMain{
        width: 72vw;
    }
    .homepage_navigation_navMenu{
        height: 100%;
        color: black;
        display: flex;
        margin: auto;

    }

    .homepage_navigation_navSubMenu{
        width: 34vw;
        margin-left: 6.5vw;
        margin-right: 0;
        /* background-color: blue; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .homepage_navigation_navMenuPageLinks{
        font-size: 1vw;
        transition: linear 0.1s;
        cursor: pointer;
        /* background-color: pink; */
    }
    .navMenuPageLinksWhy{
        /* background-color: red; */
        height: 5.5vw;
        display: flex;
        align-items: center;


    }
    /* .navbar_login{
        font-size: 1.vw;
        font-weight: 600;
        width: 5vw;
        text-align: left;
        margin-left: 5vw;
        
    } */
    .homepage_navigation_loginButton{
        background-color: rgb(9,111,88);
        font-size: 1.vw;
        padding: 0.8vw 1.3vw;
        border-radius: 0.7vw;
        text-align: left;
        color: white;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .navigation{
        background-color: rgb(47,119,111);
        
    }
    .logoBar{
        width: 25vw;
        height: 3vw;
        background-color: rgb(47,119,111);
        display: flex;
        justify-content: space-between;
        z-index: 1000;
    }
    .logoBar img{
        height: 45%;
        /* margin-left: 5%; */
        margin-left: 13%;
        margin-top: 8.5%;
        
    }
    .navBarIconBar{
        margin-right: 5%;
        /* transform: translateY(2vw); */
        
    }
    .navBurgerIcon{
        position: absolute;
        top:4vw;
        right: 5vw;
        /* top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
        font-size: 4vw;
        /* margin-right: 5%; */
        color: white;
    }
    .navBarIconCross{
        visibility: hidden;
        /* transform: translateY(-4vw); */
    }
    .navMain{
        position: absolute;
        width: 100%;
        height: 92vh;
        transform: translateY(-49vw);
        visibility: hidden;
        transition: linear 0.2s;
        z-index: 1000;
    }
    .navMenu{
        /* height: 34vh; */
        height: 48vw;
        width: 100%;
        color: white;
        color: rgb(37,90,84);
        background-color: rgb(228, 228, 228);
        transition: linear 0.2s;
    }
    .navSubMenu{
        display: flex;
        flex-direction: column;
        text-align: center;
        /* padding-top: 2.5vh; */
        padding-top: 4vw;
    }
    .navMenuPageLinks{
        /* font-size: 1.6vh; */
        font-size: 2.4vw;
        /* height: 4.3vh; */
        height: 6.2vw;
        transition: linear 0.1s;
        cursor: pointer;
    }
    .watchButton{
        display: flex;
        width: 86%;
        height: 7.2vw;
        margin: auto;
        border-radius: 5vw;
        border: 1.5px solid rgb(37,90,84);
        font-weight: 700;
        /* font-size: 1.7vh; */
        font-size: 2.3vw;
        transition: linear 0.2s;
        cursor: pointer;
    }
    .tryLink{
        width: 86%;
        /* height: 5vh; */
        height: 7.2vw;
        margin-left: 7%;
        border-radius: 3vw;
        background-color: rgb(37,90,84);
        color:white;
        font-weight: 600;
        /* font-size: 1.7vh; */
        font-size: 2.3vw;
        margin-top: 2vw;
    }
    .navExtra{
        background-color: transparent;
        height: 100%;
    }
}
@media screen and (max-width: 767px) {
    .homepage_navigation_mainBox{
        /* background-color: rgb(47,119,111); */
        background-color: white;
    }
    .homepage_navigation_logoBar{
        width: 100%;
        height: 16.5vw;
        /* background-color: rgb(47,119,111); */
        display: flex;
        justify-content: space-between;
        z-index: 1000;
        padding: 0 5vw;
        
    }
    .homepage_navigation_logoBar img{
        width: 50vw;
        height: 80%;
    }

    .navBarIconBar{
        margin-right: 5%;
    }
    .navBurgerIcon{
        position: absolute;
        top:5vw;
        right: 5vw;
        font-size: 6.2vw;

    }
    .navBarIconCross{
        visibility: hidden;
    }
    .homepage_navigation_navMain{
        position: absolute;
        width: 100%;
        border-bottom: 1px solid black;
        border-radius: 0.5vw;
        height: 80vw;
        padding-top: 2vw;
        background-color: white;
        transform: translate(0,-97vw);
        transition: linear 0.2s;
    }
    /* .homepage_navigation_navMain{
        display: none;
    } */
    .homepage_navigation_navMainOpen{
        transform: translate(0,0);
    }
    .homepage_navigation_navSubMenu{
        /* background-color: white; */
        
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .homepage_navigation_navMenuPageLinks{
        padding: 3vw 2vw;
        font-size: 4.5vw;
    }
    .homepage_navigation_loginButton{
        background-color: rgb(9,111,88);
        width: 70%;
        margin: auto;
        color: white;
        padding: 1vw 0;
        border-radius: 0.5vw;
        text-align: center;
    }
}

.navMenuPageLinks:hover{
    color: rgb(9,111,88);
    font-weight: 500;
}

.watchButton:hover{
    background-color: rgb(255,0,122);;
}

.tryLink:hover{
    background-color: rgb(37,90,84);
    color: white;
    
}
.navBurgerIcon:active{
    transform: scale(0.8);
}


.homepage_navigation_submenu{
    width: 47vw;
    height: 24vw;
    background-color: white;
    position: absolute;
    margin-left: 19vw;
    display: flex;
    justify-content: space-between;
    padding: 2vw 10vw 2vw 6vw;
    /* display: none; */
}
.homepage_navigation_submenuToggle{
    display: block;
}

.homepage_navigation_submenuOverview{
    display: flex;
    flex-direction: column;
}
.homepage_navigation_submenuOverview h2{
    font-size: 1.1vw;
    font-weight: 600;
    color: rgba(40,40,40);
    margin-bottom: 1.3vw;
}
.homepage_navigation_submenuOverview a{
    font-size: 0.85vw;
    margin-bottom:0.8vw;
    padding-left: 0.7vw;

}
.homepage_navigation_submenuOverview a:hover{
    color: grey;
}
.navbar_getLink:hover{
    background-color: rgb(112, 139, 87);
}
.navbar_login:hover{
    background-color: rgb(9,111,88,0.8);
}