.textEditor{
    width: 70%;
    border-left: 1px solid black;
}
.textEditor_mainBox{
    margin: auto;
    padding: 0 1.5%;
}
.textEditor_headerBox{
    display: flex;
    justify-content: space-between;
    padding: 0.8vw 2vw;
    font-weight: 500;
    background-color: rgb(200,200,200);
}
.textEditor_textBox{
    min-height: 35vw;
}