@media screen and (min-width: 992px) {
    .faq{
        background: linear-gradient(to left bottom, rgb(255,255,255), rgb(255,247,247));
        padding-top: 3vw;
        padding-bottom: 2vw;
        overflow-x: hidden;
    }
    .faq_mainBox{
        width: 60vw;
        /* height: 76vw; */
        margin: auto;
    }
    .faq_mainBox h1{
        font-size: 2.5vw;
        text-align: center;
        font-weight: bold;
        color: rgba(60,60,60);
        margin-bottom: 5vw;
    }
    .faq_questionAnswer{
        background-color: rgb(245,245,245);
        border-radius: 1vw;
        overflow: hidden;
        margin-bottom: 2.5vw;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        padding-top: 1.75vw;
        padding-bottom: 1.25vw;
        cursor: pointer;
    }
    .faq_questions{
        display: flex;
        justify-content: space-between;
        /* align-items: last baseline; */
        font-size: 1.2vw;
        font-weight: 600;
        padding-bottom: 0.5vw;
        color: rgb(10,10,10);
        
    }
    .faq_questionIconBox{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(217,217,217);
        color: white;
        height: 2.5vw;
        aspect-ratio: 1;
        border-radius: 50%;
        transform: translateY(0.25vw); 
        transition: linear 0.1s;
    }
    .faq_questionIconBox:hover{
        background-color: rgb(200,200,200);
    }

    .faq_answers {
        max-height: 0;
        overflow: hidden;
        font-size: 1vw;
        width: 80%;
        margin-left: 1.25vw;
        transition: max-height 0.5s ease-in-out;
    }
    .faq_answersFull {
        max-height: 1000px; /* Set a large value for a reasonable maximum height */
        overflow: hidden;
    }
}

@media screen and (max-width: 991px) {
    .faq{
        background: linear-gradient(to left bottom, rgb(255,255,255), rgb(255,247,247));
        padding-top: 3vw;
        padding-bottom: 5vw;
    }
    .faq_mainBox{
        width: 82vw;
        /* height: 76vw; */
        margin: auto;
    }
    .faq_mainBox h1{
        font-size: 7vw;
        text-align: center;
        font-weight: bold;
        color: rgba(60,60,60);
        margin-bottom: 8vw;
    }
    .faq_questionAnswer{
        background-color: rgb(245,245,245);
        border-radius: 1vw;
        overflow: hidden;
        margin-bottom: 2.5vw;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        padding-top: 1.75vw;
        padding-bottom: 1.25vw;
        cursor: pointer;
    }
    .faq_questions{
        display: flex;
        justify-content: space-between;
        /* align-items: last baseline; */
        font-size: 2.5vw;
        font-weight: 600;
        padding-bottom: 0.5vw;
        color: rgb(10,10,10);
        
    }
    .faq_questionIconBox{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(217,217,217);
        color: white;
        height: 4vw;
        aspect-ratio: 1;
        border-radius: 50%;
        transform: translateY(0.25vw); 
        transition: linear 0.1s;
    }
    .faq_questionIconBox:hover{
        background-color: rgb(200,200,200);
    }
    .faq_answers {
        max-height: 0;
        overflow: hidden;
        font-size: 2.5vw;
        width: 80%;
        margin-left: 1.25vw;
        transition: max-height 0.5s ease-in-out;
    }
    .faq_answersFull {
        max-height: 1000px; /* Set a large value for a reasonable maximum height */
        overflow: hidden;
    }
}