.projects{
    width: 100%;
    display: flex;
}
.projects_mainBox{
    width: 30%;
    padding: 1vw 1%;
    
}
.projects_headerName{
    padding: 0.8vw 1vw;
    font-weight: 500;
    background-color: rgb(210,210,210);
    color: rgb(70,70,70);
    /* background-color: rgb(9,111,88);
    color: white; */
}
.projects_directory{
    /* margin-bottom: 0.5vw; */
    margin-bottom: 0.2vw;
    background-color: rgb(30,30,30);
    color: rgb(192,185,167);
}
.projects_subDirectory{
    display: flex;
    cursor: pointer;
    /* border: 1px solid black; */
    border: 1px solid ;
    padding: 0.4vw 1vw;
    transition: linear 0.1s;
}
.projects_folderName{
    margin-left: 0.5vw;
}
.projects_subDirectory:hover{
    /* background-color: rgb(230,230,230); */
    background-color: rgb(50,50,50);
}